$naranja: #FF6B33;
$blanco: #FFFFFF;
$negro: #000000;
$azure: #f0ffff;

$borde-box:border-box;
$ancho: 400px;
$color_fondo: orangered;
$el_padding: 30px;
$el_margin: auto;
$el_margin_top: 100px;
$el_borde_radiado: 14px;

$size: 22px;
$margin_abajo: 20px;
